{% extends 'student/studentbase.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="jumbotron my-4">

  <form class="form" autocomplete="off" action="/student/calculate-marks" method="POST">
    {% csrf_token %}

    <!-- Hidden course id field -->
    <input type="hidden" name="course_id" value="{{ course.id }}">

    <h1 style="text-align: center;">{{ course.course_name }}</h1>
    
    {% for q in questions %}
      <h3 class="text-info">{{ forloop.counter }}. {{ q.question }}</h3>
      <h4 style="text-align: right;">[Marks {{ q.marks }}]</h4>

      <div class="form-check mx-4">
        <input class="form-check-input" type="radio" name="question_{{ q.id }}" 
               id="{{ q.id }}_1" value="{{ q.option1 }}">
        <label class="form-check-label" for="{{ q.id }}_1">{{ q.option1 }}</label>
      </div>

      <div class="form-check mx-4">
        <input class="form-check-input" type="radio" name="question_{{ q.id }}" 
               id="{{ q.id }}_2" value="{{ q.option2 }}">
        <label class="form-check-label" for="{{ q.id }}_2">{{ q.option2 }}</label>
      </div>

      <div class="form-check mx-4">
        <input class="form-check-input" type="radio" name="question_{{ q.id }}" 
               id="{{ q.id }}_3" value="{{ q.option3 }}">
        <label class="form-check-label" for="{{ q.id }}_3">{{ q.option3 }}</label>
      </div>

      <div class="form-check mx-4">
        <input class="form-check-input" type="radio" name="question_{{ q.id }}" 
               id="{{ q.id }}_4" value="{{ q.option4 }}">
        <label class="form-check-label" for="{{ q.id }}_4">{{ q.option4 }}</label>
      </div>
      <hr>
    {% endfor %}

    <input class="btn btn-info btn-lg mt-3" type="submit" value="Submit">
  </form>
</div>

<br><br><br><br><br><br>
{% endblock content %}
